{% extends "@systemBundle/template.html.twig" %}
{% block content %}

<div class="container" style="padding: 20px;" >
    <h2 class="featurette-heading"><span class="">Control Panel Protection</span></h2>
    <hr>
    <h4 class="featurette-heading"><span class="text-muted">When you establish the credentials the control panel will be protected and a login be requested</span></h4>
    <br><br>
    <div class="featurette" style="background: transparent !important;">
        {% if protection==true %}
            <h4 class="featurette-heading"><span class="label-success">The credentials was established to the admin user</span></h4>
        {% else %}
        <form id="credential_admin" class="form-horizontal" method="POST" action="?register=true">
            


                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label" for="username">Admin Username</label>
                        <div class="controls">
                            <input class="form-control" name="username" type="text" id="username" placeholder="" value="{{ username }}">
                        </div>
                    </div>
                         
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label" for="password">Password</label>
                            <div class="controls">
                                <input name="password" class="form-control" type="password" id="password" placeholder="" value="">
                            </div>
                        </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label" for="repassword">Password Repeat</label>
                                <div class="controls">
                                    <input name="repassword" class="form-control" type="password" id="repassword" placeholder="" value="">
                                </div>
                            </div>

                        </div>

                       

                <div class="row pull-left" style="margin-top: 40px;margin-bottom: 40px;">
                    <div class="col-md-4">
                        <button type="submit" id="btn-config" class="btn btn-success"><i class="glyphicon glyphicon-ok" style=""></i> Save</button>
                    </div>

                </div>

                

            </form>

            <br><br>
            <p class="lead">


            </p>
            {% endif %}
        </div>


</div>



    

{% endblock %}

{% block script %}
{{ validation|raw }}
<script type="text/javascript">
        $(document.body).ready(function() {

            $(window.parent.document.body).find('#tabla').height($(document.body).outerHeight(true)+100);
            
        });
        
    </script>
    
{% endblock %}

