<li class="divider"></li>
<li><a href="#" data-url="{{ path("_raptor_bundle_installer") }}"><i class="icon-raptor-installer" style="margin-right: 5px"></i>Bundle Installer <span class="label label-danger">New</span></a></li>
