; Default config file for PHPWord
; Copy this file into phpword.ini and use Settings::loadConfig to load

[General]

compatibility   = true
zipClass        = ZipArchive
pdfRendererName = TCPDF
pdfRendererPath = "Writer/tcpdf"
; tempDir         = "C:\PhpWordTemp"

[Font]

defaultFontName = Arial
defaultFontSize = 10
