<h4>{{ msg }}</h4>
<img src="{{ asset('Raptor/img/raptor-eye.png') }}">
<form id="form-imagen" action="{{ path('_new_code') }}" method="POST" enctype="multipart/form-data" name="form-carta">
    <label>Imagen del producto<b style="margin-left:5px;color:red">*</b></label>
    <input id="imagen" class="input-block-level " type="file" name="imagen" />

    <button type="submit" >Enviar</button>

</form>
